




/*
     FILE ARCHIVED ON 4:10:28 Feb 9, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:31:46 Oct 22, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.text {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	color: #00356D;
	text-decoration: none;
	line-height: normal;
}

.text1 {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	color: #00356D;
	text-decoration: none;
	line-height: normal;

}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #548EBD;
	text-decoration: none;
	line-height: normal;
	VISIBILITY: inherit;
}
.Link:hover
{
    VISIBILITY: inherit;
    TEXT-DECORATION: underline
}

.link2 {
	font-family: Verdana;
	font-size: 11px;
	text-transform: capitalize;
	color: #00356D;
	text-decoration: underline;
}
.link3 {
	font-family: Verdana;
	font-size: 11px;
	text-transform: capitalize;
	color: #00356D;
}
.link4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #548EBD;
	text-decoration: none;
	line-height: underline;

}
.link5 {
	font-family: Verdana;
	font-size: 12px;
	text-transform: capitalize;
	color: #00356D;
}
